--- 

### DSGA1007

--- 

### HW04 

### Due Date: Thursday 2021-11-04, 8PM


#### Student Name: Seonhye Yang

#### Student NetID: sy3420

### Problem 01 (30 points)


1.1 (5 points) Create a pandas Series object with with the values given by the twelve months: "January", "February", ..., "December". 

1.2 (5 points) What are the indexes for this object?


1.3 (10 points) Create a pandas Series object with with the values given by the twelve months: "January", "February", ..., "December", and with the indexes given by the first twelve natural numbers: 1, 2, ..., 12. 


1.3 (10 points) Create a pandas Series object with with the values given by the twelve months: "January", "February", ..., "December", and with the indexes given by the first capital letters of the English alphabet: 'A', 'B', ..., 'L'

In [2]:
import pandas as pd
import numpy as np
import string
import statistics
import math
list(string.ascii_uppercase)[0:12]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

### Solution 01 (30 points)

In [40]:
#1.1
twelve_months = pd.Series(["January", "Febuary", "March", "April", "May", "June", "July", 
                           "August", "September", "October", "November", "December"])
print(twelve_months)
print("===========================================================================")
#1.2
print(twelve_months.index)
print("===========================================================================")
#The indexes must be explicitly specified. 

#1.3
twelve_months_numbers = pd.Series(["January", "Febuary", "March", "April", "May", "June", "July", 
                           "August", "September", "October", "November", "December"], index=[i for i in range(1, 13)])
print(twelve_months_numbers)
print("===========================================================================")
#1.4
twelve_months_letters = pd.Series(["January", "Febuary", "March", "April", "May", "June", "July", 
                           "August", "September", "October", "November", "December"], 
                                  index=list(string.ascii_uppercase[0:12]))
print(twelve_months_letters)

0       January
1       Febuary
2         March
3         April
4           May
5          June
6          July
7        August
8     September
9       October
10     November
11     December
dtype: object
===========================================================================
RangeIndex(start=0, stop=12, step=1)
===========================================================================
1       January
2       Febuary
3         March
4         April
5           May
6          June
7          July
8        August
9     September
10      October
11     November
12     December
dtype: object
===========================================================================
A      January
B      Febuary
C        March
D        April
E          May
F         June
G         July
H       August
I    September
J      October
K     November
L     December
dtype: object

### Problem 02 (30 points)

2.1.1 (10 points) Create a pandas dataframe with the indexes $0, 1, \dots, 9$ and column labels "col0", "col1", ..., "col9". Each value of the dateframe with the index $i$ and with the column "colj" should be assigned a random value from the uniform distribution on $[0, 1]$. Hint: You can use: https://numpy.org/doc/stable/reference/random/generated/numpy.random.rand.html 


2.1.2 (5 points) Filter the dataframe from 2.1.1 in order to remove all rows for which the corresponding value in the column "col7" is smaller than 0.2 and bigger than 0.8

2.2.1 (10 points) Create a pandas dataframe with the indexes $0, 1, \dots, 9$ and column labels "col0", "col1", ..., "col9". Each value of the dateframe with the index $i$ and with the column "colj" should be assigned the value $50 \cdot i + j$. 

2.2.2 (5 points) Filter the dataframe from 2.2.1 in order to remove all rows for which the corresponding value in the column "col7" is smaller than 100 and bigger than 350

### Solution 02 (30 points)

In [20]:
import pandas as pd
import numpy as np

#2.1.1
ind=[i for i in range(10)]
colLabels = []
for i in range(10):
    colLabels.append("col" + str(i))

df=pd.DataFrame(np.random.rand(10,10), columns=colLabels, index=ind)
print(df)

#2.1.2
print()
print()
print(df.loc[(df['col7'] > 0.2) & (df['col7'] < 0.8)])

#2.2.1
print()
print()
cols = []
for i in range(10):
    cols.append("col" + str(i))

df3 = pd.DataFrame(columns = cols, index =[i for i in range(10)])

for i in range(10):
    for j in range(10):
        df3.iloc[i, j] = 50 * i + j
        
print(df3)

#2.2.2
print()
print()
print(df3.loc[(df3['col7'] > 100) & (df3['col7'] < 350)])

       col0      col1      col2      col3      col4      col5      col6  \
0  0.389527  0.583590  0.816152  0.129293  0.532044  0.315491  0.391302
1  0.724267  0.981929  0.136051  0.113935  0.051311  0.635135  0.150992
2  0.045092  0.792396  0.066085  0.264871  0.007682  0.659024  0.716759
3  0.304835  0.674230  0.487124  0.162404  0.669443  0.994083  0.864473
4  0.841817  0.513298  0.222263  0.788729  0.288465  0.134064  0.008492
5  0.418211  0.962541  0.970562  0.550179  0.541856  0.919642  0.600921
6  0.103037  0.275769  0.612227  0.614247  0.588114  0.269821  0.653904
7  0.941635  0.468213  0.021856  0.997857  0.851856  0.256605  0.152618
8  0.267868  0.378349  0.051950  0.819714  0.495840  0.023876  0.528209
9  0.180408  0.342638  0.121814  0.974962  0.149024  0.648930  0.809351

       col7      col8      col9
0  0.384289  0.660079  0.288802
1  0.179895  0.111288  0.783399
2  0.465328  0.987152  0.239147
3  0.021343  0.967756  0.716644
4  0.508751  0.422846  0.033708
5  0.377101  0.099802  0.908569
6  0.160134  0.233746  0.753903
7  0.508461  0.820578  0.794364
8  0.678840  0.313149  0.935986
9  0.059700  0.200315  0.052465


       col0      col1      col2      col3      col4      col5      col6  \
0  0.389527  0.583590  0.816152  0.129293  0.532044  0.315491  0.391302
2  0.045092  0.792396  0.066085  0.264871  0.007682  0.659024  0.716759
4  0.841817  0.513298  0.222263  0.788729  0.288465  0.134064  0.008492
5  0.418211  0.962541  0.970562  0.550179  0.541856  0.919642  0.600921
7  0.941635  0.468213  0.021856  0.997857  0.851856  0.256605  0.152618
8  0.267868  0.378349  0.051950  0.819714  0.495840  0.023876  0.528209

       col7      col8      col9
0  0.384289  0.660079  0.288802
2  0.465328  0.987152  0.239147
4  0.508751  0.422846  0.033708
5  0.377101  0.099802  0.908569
7  0.508461  0.820578  0.794364
8  0.678840  0.313149  0.935986


  col0 col1 col2 col3 col4 col5 col6 col7 col8 col9
0    0    1    2    3    4    5    6    7    8    9
1   50   51   52   53   54   55   56   57   58   59
2  100  101  102  103  104  105  106  107  108  109
3  150  151  152  153  154  155  156  157  158  159
4  200  201  202  203  204  205  206  207  208  209
5  250  251  252  253  254  255  256  257  258  259
6  300  301  302  303  304  305  306  307  308  309
7  350  351  352  353  354  355  356  357  358  359
8  400  401  402  403  404  405  406  407  408  409
9  450  451  452  453  454  455  456  457  458  459


  col0 col1 col2 col3 col4 col5 col6 col7 col8 col9
2  100  101  102  103  104  105  106  107  108  109
3  150  151  152  153  154  155  156  157  158  159
4  200  201  202  203  204  205  206  207  208  209
5  250  251  252  253  254  255  256  257  258  259
6  300  301  302  303  304  305  306  307  308  309

### Problem 03 (40 points)

In this problem we examine the provided data set "IMDB-Movie-Data.csv", which contains the following columns that describe a list of movies: 
    
['Title', Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore'].

To read the given data set into a dataframe with the index equal to a title of a movie title, you can use: 




```df_movies = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")```


But since we want to drop all duplicated rows, you can use the following to read the data:


```df_movies = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title").drop_duplicates()```


Also, in order to get an idea about the content of the data set, you can run:

```df_movies``` 



3.1 (10 points) Print the number of rows in such obtained dataset

3.2 (10 points) Print the number of rows for which the column "Metascore" is ` NA/null` (i.e. not defined).

3.3 (10 points) Print the ratio of the two: what is the fraction of missing values for the column "Metascore"

3.4 (10 points) Print the min, mean, max, median for the column "Metascore"

### Solution 03 (40 points)

In [5]:
df2=pd.read_csv("IMDB-Movie-Data.csv", index_col="Title").drop_duplicates()
#3.1
num_rows=len(df2)
print(num_rows)

#3.2
num_rows2=len(df2.loc[df2["Metascore"].isnull()])
print(num_rows2)

#3.3
den = math.gcd(num_rows, num_rows2)
print(f"{num_rows/den}:{num_rows2/den}")
                        
#3.4
print("Min value is", min(df2["Metascore"]))
print("Mean value is" , np.mean(df2["Metascore"]))
print("Max value is", max(df2["Metascore"]))
print("Median value is" , np.nanmedian(df2["Metascore"]))

1000
64
125.0:8.0
Min value is 11.0
Mean value is 58.98504273504273
Max value is 100.0
Median value is 59.5